!hardware/.keep

# 001
software/001-blink-led/.metadata
software/001-blink-led/blink-led/*
software/001-blink-led/blink-led/Core/*
!software/001-blink-led/blink-led/Core/
!software/001-blink-led/blink-led/Core/Src/

# 002
software/002-uart/.metadata
software/002-uart/uart/*
software/002-uart/uart/Core/*
!software/002-uart/uart/Core/
!software/002-uart/uart/Core/Src/

# 003
software/003-exti-led-gpio/.metadata
software/003-exti-led-gpio/003-exti-led-gpio/*
software/003-exti-led-gpio/003-exti-led-gpio/Core/*
!software/003-exti-led-gpio/003-exti-led-gpio/Core/
!software/003-exti-led-gpio/003-exti-led-gpio/Core/Src/

#004
software/004-exti-led-dma/.metadata
software/004-exti-led-dma/dma-mem-to-mem/*
software/004-exti-led-dma/dma-mem-to-mem/Core/*
!software/004-exti-led-dma/dma-mem-to-mem/Core/
!software/004-exti-led-dma/dma-mem-to-mem/Core/Src/

software/004-exti-led-dma/dma-mem-to-mem-int/*
software/004-exti-led-dma/dma-mem-to-mem-int/Core/*
!software/004-exti-led-dma/dma-mem-to-mem-int/Core/
!software/004-exti-led-dma/dma-mem-to-mem-int/Core/Src/

#005
software/005-rtc-alarm/.metadata
software/005-rtc-alarm/rtc-alarm/*
software/005-rtc-alarm/rtc-alarm/Core/*
!software/005-rtc-alarm/rtc-alarm/Core/
!software/005-rtc-alarm/rtc-alarm/Core/Src/

#006
software/006-wdg/.metadata
software/006-wdg/iwdg/*
software/006-wdg/iwdg/Core/*
!software/006-wdg/iwdg/Core/
!software/006-wdg/iwdg/Core/Src/

software/006-wdg/wwdg/*
software/006-wdg/wwdg/Core/*
!software/006-wdg/wwdg/Core/
!software/006-wdg/wwdg/Core/Src/